<div class="create-workshop">
    <div class="image-background">
      <img src="assets/psiho.jpg" alt="Descriptive text for the image">
  
    </div>
    
    <div class="creating2" >
    <div class="creating" >

      <div class="part-one" *ngIf="!workshopIsClicked">
        <div class="form-ps">
        <form [formGroup]="workshopForm" class="form-wrap">
              <div class="first-column">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" type="text" />
                </mat-form-field>
        
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <input matInput formControlName="description" type="text" />
                </mat-form-field>
        
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [formControl]="selectedDate"
                    placeholder="Choose a date"
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
        
                <mat-form-field>
                  <mat-label>Start time</mat-label>
                  <input matInput formControlName="startTime" type="time" />
                </mat-form-field>
        
                <mat-form-field>
                  <mat-label>End Time</mat-label>
                  <input matInput formControlName="endTime" type="time" />
                </mat-form-field>
            </div>
            <div class="second-column">
                  <mat-form-field>
                      <mat-label>Category</mat-label>
                      <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Price</mat-label>
                      <input matInput formControlName="price" type="number" />
                    </mat-form-field>
                <mat-checkbox formControlName="isOnline">ONLINE</mat-checkbox>
                <input type="file" (change)="onImageSelected($event)">


                
        
                <button
                  class="button1"
                  type="submit"
                  color="primary"
                  (click)="createWorkshop()"
                >
                  CREATE
                </button>
            </div>
          </form>
        </div>
        <div class="preview-images">
          <ul class="images">
            <li *ngFor="let imageUrl of imagesWorkshop" class="image">
              <img [src]="imageUrl" [alt]="imageUrl" style="width: 200px; height: auto;">
            </li>
          </ul>
          
        </div>
        </div>
          <div *ngIf="!isOnline && !workshopIsClicked" class="second-row">
            <ul class="halls">
              <li *ngFor="let hall of halls" class="hall">
                <h3>{{ hall.name }}</h3>
                <p>Kapacitet: {{ hall.capacity }}</p>
                <button (click)="openAddHallModal(hall.id)">Rezervisi halu</button>
              </li>
            </ul>
          </div>
          
          <div class="test-creation" *ngIf="workshopIsClicked">
            <!-- Forma za kreiranje testa -->
            <form *ngIf="!isClicked"[formGroup]="testForm" (ngSubmit)="onCreateTest()">
              <mat-form-field>
                <mat-label>Test Name</mat-label>
                <input matInput formControlName="testName">
              </mat-form-field>
              <button mat-raised-button color="primary">Start creating test</button>
            </form>
          
           <!-- Forma za dodavanje pitanja -->
<form *ngIf="isClicked" [formGroup]="questionForm" (ngSubmit)="onAddQuestion()">
  <mat-form-field>
    <mat-label>Question</mat-label>
    <input matInput formControlName="questionText">
  </mat-form-field>

  <!-- Novo polje za unos broja poena po pitanju -->
  <mat-form-field>
    <mat-label>Points</mat-label>
    <input matInput formControlName="points" type="number">
  </mat-form-field>

  <button mat-raised-button color="accent">Add Question</button>
</form>

          
            <!-- Forma za dodavanje odgovora -->
            <form *ngIf="isClicked" [formGroup]="answerForm" (ngSubmit)="onAddAnswer()">
              <mat-form-field>
                <mat-label>Answer</mat-label>
                <input matInput formControlName="answerText">
              </mat-form-field>
              <mat-checkbox formControlName="isCorrect">Correct Answer</mat-checkbox>
              <button mat-raised-button color="warn">Add Answer</button>
            </form>

            
           
          
          
          </div>
          
          
          
          

          

</div >
 <!-- Preview Panel -->
 <div class="test-overr" *ngIf="isClicked">
 <div class="test-preview" >
  <h1>{{ testForm.value.testName }}</h1>
  <div *ngFor="let question of questions; let qIndex = index">
      <h2>{{ qIndex + 1 }}. {{ question.text }} ({{ question.pointsPerQuestion }} points)</h2>
      <ol>
        <div *ngFor="let answer of question.answers">
          <mat-radio-group [value]="answer.true ? 'selected' : ''">
              <mat-radio-button class="small-radio" [checked]="answer.true">
                  {{ answer.text }}
              </mat-radio-button>
          </mat-radio-group>
      </div>
      
      
      </ol>
  </div>
</div>
</div>
</div>
</div>