.details p {
    font-size: smaller;
  }
  
  .summary p {
    font-size: larger;
  }

  .back{
    background-color: rgb(205, 92, 92);
  }
  
  .margins {
    margin: 30px;
  }

  h1{
    text-align: center;
  }

  .dialog-actions {
    text-align: right;
  }
  

  .close-button {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure the button takes full width */
  }
  