.card-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }
  .image-background img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    display: block; /* Remove extra space below the image */
    object-fit:contain; /* Cover the container, image will be cropped if necessary */
  }
  
  .second{
    background-color: #44738E;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
.card-wrapper{
    padding: 20px;
}

.card-wrapper {
    width: 100%; /* Ensures the table uses the full width available */
    border-collapse: collapse; /* Removes double borders */
    margin-bottom: 20px; /* Adds some space below the table */
}

.card-wrapper th, .card-wrapper td {
    border: 1px solid #ccc; /* Lighter border color */
    padding: 20px; /* More padding for better readability */
    text-align: left; /* Keeps text aligned to the left */
    vertical-align: top; /* Aligns content to the top of the cell */
}

.card-wrapper th {
    background-color:#44738E; /* Lighter header background */
    color: #faf8f8; /* Darker text color for better contrast */
}

.workshops-view {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; /* Adds a border around the workshop view */
    border-radius: 5px; /* Rounds the corners of the border */
}

@media (max-width: 768px) { /* Responsive adjustments for smaller screens */
    .workshops-view {
        flex-direction: column; /* Stacks the items vertically on small screens */
    }
}
