.workshops-view{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

}

.image-background img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    display: block; /* Remove extra space below the image */
    object-fit:contain; /* Cover the container, image will be cropped if necessary */
  }
  
  

.card-first-row h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern, readable font */
    font-size: 24px; /* Suitable font size for headings */
    color: #0a012d; /* Dark gray for high readability */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
    margin: 10px 0; /* Top and bottom margin */
    padding: 0 10px; /* Padding to ensure text doesn't touch the card edges */
    letter-spacing: 1.5px; /* Space out the letters slightly */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.card-first-row h2:hover {
    color: #6e48aa; /* Change color on hover */
    cursor: pointer; /* Indicates the title is interactive */
}




.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto; /* Omogućava horizontalno skrolovanje ako kartice ne stanu */
    align-items: center; /* Center cards vertically in the container */
    padding: 20px; /* Add some padding around the flex container */
    gap: 20px; /* Space between each card if you have multiple */
  }

  .first{
    width: 100%; /* Set a fixed width for each card */
    background: linear-gradient(145deg, #c2bedb, #5585d8); /* A purple gradient background */
    color: #fff; /* White text color */
    padding: 20px; /* Padding inside the card */
    border-radius: 15px; /* Rounded corners */
  }

  .card-second-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .card-first-column{
    display: flex;
    flex-direction: column;

  }

  .card-first-column-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .card-first-column-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .third-one{
    display: flex;
    gap: 20px;
    border-radius: 15px; /* Rounded corners */
    justify-content: center;
    padding: 20px 20 px 20px 20px;


  }

  .third-one img{
    height: min-content;

  }

  .mental-health{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

  }

  .why-us {
    display: flex;
    justify-content: center;
  }

  .why-us h1 , .card-wrapper h1{
    text-align: center; /* Centriranje teksta unutar h1 elementa */
    position: relative; /* Pozicioniranje za pseudo-element */
    padding-bottom: 10px; /* Prostor između teksta i linije */
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #171077;

  }

  .last-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
  }
  .images-with-title{
    background-color: #dee9f7;
    height: 40%;
    width: 20%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center; /* Centrira sadržaj horizontalno */
    align-items: center; /* Centrira sadržaj vertikalno */
    text-align: center; /* Dodatno centrira tekst unutar svih unutrašnjih elemenata */
    border-radius: 15px; /* Zaobljava uglove */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Dodaje blagu senku oko okvira */
    border: 1px solid #ccc; /* Dodaje tanku liniju oko okvira */
  }

  .images-with-title h3{
    text-align: center; /* Centriranje teksta unutar h1 elementa */
    position: relative; /* Pozicioniranje za pseudo-element */
    padding-bottom: 10px; /* Prostor između teksta i linije */
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #171077;
  }
  
  

  

  .images{
    display: flex;
    justify-content: center;
    gap: 20px; 

  }

  .mental-conditions h1 {
    text-align: center; /* Centriranje teksta unutar h1 elementa */
    position: relative; /* Pozicioniranje za pseudo-element */
    padding-bottom: 10px; /* Prostor između teksta i linije */
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #171077;

  }
  
  .mental-conditions h1::after {
    content: ""; /* Neophodno za kreiranje pseudo-elementa */
    position: absolute;
    left: 50%; /* Pozicioniranje na sredinu */
    bottom: 0; /* Postavljanje na dno h1 elementa */
    transform: translateX(-50%); /* Precizno centriranje */
    width: 90%; /* Širina linije */
    height: 2px; /* Visina linije */
    background-color: #000; /* Boja linije, crna u ovom slučaju */
  }
  

  .image-with-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Dodato za horizontalno centriranje */
  }
  
  .image-with-title h3 {
    text-align: center; /* Centriranje teksta unutar h3 elementa */
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #171077;
    
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .buttons p{
    font-size: 40px;
  }
  .card {
   
    min-width: 25%; /* Minimalna širina svake kartice */
    height: max-content;
    background: linear-gradient(145deg, #f7f7f9, #f6f5f7); /* A purple gradient background */
    color: #fff; /* White text color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Shadow for 3D effect */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Move the card up slightly on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.30); /* Slightly larger shadow on hover for more depth */
  }
  .card-second-column{
    background: linear-gradient(145deg, #f7f8f9, #cac9cb); /* A purple gradient background */
    color: #223390; /* White text color */
    padding: 20px; /* Padding inside the card */
  }

  .buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .buttons button{
    background-color: #2e3ca2; /* A vibrant green, common for 'create' or 'go' buttons */
    color: white; /* White text to contrast the green background */
    border: none; /* No border for a modern look */
  }

  .last{
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  .third-one{
padding-right: 20px; 
width: 100%; }


  .third-one img{
    
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    
  }

  .createNO button {
    background-color: #171077; /* A vibrant green, common for 'create' or 'go' buttons */
    color: white; /* White text to contrast the green background */
    border: none; /* No border for a modern look */
    padding: 10px 20px; /* Adequate padding for comfort */
    font-size: 16px; /* Visible text size */
    font-family: Arial, sans-serif; /* Simple and clean font */
    text-transform: uppercase; /* Makes the button text more impactful */
    border-radius: 5px; /* Slightly rounded corners for a modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for color and transformation */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

/* Stilizovanje okvira select elementa */
.filter select {
    width: 100%; /* Širina select-a da popuni kontejner */
    height: 40px; /* Povećava visinu select-a za bolju vidljivost */
    background-color: #2e3ca2; /* Plava boja pozadine */
    color: white; /* Boja teksta */
    border-radius: 20px; /* Zaobljeni uglovi */
    border: 1px solid #0056b3; /* Tamnija plava boja za ivicu */
    padding-left: 10px; /* Dodaje padding sa leve strane teksta */
    font-size: 16px; /* Veća veličina fonta za lakše čitanje */
    align-items: center;
    cursor: pointer; /* Cursor pointer za bolji UX */
  }
  
  /* Stilizovanje opcija unutar select-a */
  .filter option {
    color: black; /* Boja teksta za opcije */
    background-color: white; /* Pozadina za opcije */
    padding: 5px; /* Padding za opcije */
  }
  
  /* Stilizovanje fokusa na select elementu */
  .filter select:focus {
    outline: none; /* Uklanja outline kada je element fokusiran */
    border-color: #004085; /* Tamnija plava boja za fokusiranu ivicu */
  }
  
  /* Stilizovanje kada je select element hoverovan */
  .filter select:hover {
    background-color: #0056b3; /* Svjetlija nijansa plave kada se pređe mišem */
  }
  

.createNO button:hover {
    background-color: #12078c; /* A slightly darker green on hover for feedback */
    transform: translateY(-2px); /* Slightly raises the button to give a 'pressing' feel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhances the shadow to deepen the effect */
}

.createNO button:active {
    transform: translateY(1px); /* Mimics the button being pressed down */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Reduces the shadow to simulate being pressed */
}
